html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #ffffff;
}

div{
  margin: 0;
}

@media (max-width: 797px) {
  body { 
      padding-left: 0px;
      padding-right: 0px;
  }
}

.container-fluid {
  padding: 0px;
}